
services:
  backend:
    build: ./Backend
    ports:
      - 5000:5000
    
    env_file:
      - ./Backend/.env
    environment:
      - PORT=5000
  
  frontend:
    build: ./Frontend/primetrade
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
